/* use a semi-transparent image for the overlay */
#overlay-container {
	background-color:white;
	color:black;
	display:none;
	background-image:url(transparent.png);
	width:960px;
	padding:35px;
}

#overlay-container .close-wrap{
	position: fixed;
	top:70px;
	width: 960px;
}
#overlay-container .close-wrap .close {
	background-image:url(close.png);
	position:absolute;
	cursor:pointer;
	height:35px;
	width:35px;
	right:-50px;
}

#exposeMask{
	position:fixed !important;
	background-color: rgb(0, 0, 0) !important;	
}